fastapi==0.115.11
uvicorn==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
opencv-python==4.9.0.80
numpy==1.26.3
mediapipe==0.10.10
python-dotenv==1.0.1
realesrgan==0.3.0  
torch==2.6.0
torchaudio==2.6.0                 
torchdiffeq==0.2.5       
torchmetrics==1.6.1               
torchsde==0.2.6        
torchvision==0.21.0         
uvicorn app:app --host 0.0.0.0 --port 8000 --reload